/**
* @name PenumbraRGBTesting
* @author Syringe#9999
* @authorLink http://drapinqs.gq
* @version 1
* @description Black (#000000) Theme for Discord + RGB Rainbow Colors/Accents 
*/

/* DONT MODIFY UNLESS YOU KNOW WHAT YOURE DOING */



    /* Assign RGB to Elements */
.listItem-1hlISG.frame-oXWS21:hover,
.activity-3v9l4T,
.wrapper-3WhCwL,
.mentioned-xhSam7 .mention,
.bd-button,
.navButtonActive-1MkytQ,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.ThemeGen .RGBbutton:not(.Add):not(.Remove),
.ThemeGen .theme.content:after,
.ThemeGen input[type=checkbox]:checked,
.ThemeGen .divider,
.container-3auIfb[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.container-3auIfb[style*="background-color: rgb(114, 137, 218);"],
.barFill-23-gu-,
.tile-2gi3tr .background-ujHpbY:hover,
.divider-3573oO,
.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX,
[class^=expandedFolderBackground-],
.bd-toasts .bd-toast::before,
.checked-3_4uQ9,
#bd-settings-sidebar .ui-tab-bar-item.selected:after,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:after,
.jumpToPresentBar-9P20AM,
.newMessagesBar-mujexs,
.iconBackgroundTierNone-3MPhMJ,
.iconBackgroundTierOne-2LhaMB,
.iconBackgroundTierThree-3qw3JX,
.iconBackgroundTierTwo-3bCmdc,
.progressBar-3u8FBM[style*="background-color: rgb(114, 137, 218)"],
.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218)"],
.barInner-3NDaY_,
.markup-2BOw-j pre:after,
.defaultIndicator-3WqGFB,
.blockquoteDivider-2hH8H6,
.closeButton-1tv5uR,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.modeUnread-1qO3K1 .name-23GUGE:after,
.actionButton-VzECiy,
.verified-1eC5dy,
.partnered-3nJayh,
.actionButton-uPB8Fs,
.jumpToPresentBar-9P20AM,
.newMessagesBar-mujexs,
.circleIconButton-hZmpE8:hover,
.hasMore-3e72_v,
.option-96V44q.selected-rZcOL-,
.topPill-30KHOu>div:nth-child(5),
.lookFilled-1Gx00P.colorBrand-3pXr91,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
.mentioned-xhSam7:before,
.actionButton-2PeQbJ:hover,
.actionButton-2PeQbJ,
.footer-1fjuF6:after,
.reaction-1hd86g.reactionMe-wv5HKu,
.circleIconButton-hZmpE8.selected-3mFF3I,
.tooltipGreen-WdeQwd,
.tooltipBlack-PPG47z,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.sizeMin-1mJd1x.grow-q77ONN,
.backButton-iA7KIs.button-38aScr.lookBlank-3eh9lL,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
	animation: RGB_BG var(--time) linear infinite !important;
	-webkit-animation: RGB_BG var(--time) linear infinite !important;
}

.aboutMeTitle-1IYtPE,
.activityUserPopout-2yItg2 .headerText-1HLrL7,
.ThemeGen #copyright strong,
.ThemeGen .title p,
.header-3ZP1MY,
.title-XLSR78,
.rowText-X45Our.fontDisplay-1dagSA.base-1x0h_U.size16-1P40sf,
.mainContent-2h-GEV .name-3l27Hl.container-2ax-kl,
.colorBrand-ROmMP1,
a.metadataName-14STf-,
.users-i_3-kL,
.embedTitle-3OXDkz,
.itemBase-1Qj4z6:hover.invite-271nFU,
.itemBase-1Qj4z6.invite-271nFU,
.card-3Qj_Yx a,
.filenameLinkWrapper-1-14c5,
.guildName-3WI6ml,
.fakeLink-26oLcc,
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover,
.activity-11LB_k>.headerText-1HLrL7,
.bodyTitle-Y0qMQz,
.bodyTitle-1ySSKn,
.tabBarItem-1b8RUP[style*="color: rgb(255, 255, 255)"],
.topic-TCb_qw a,
.addButton-1BORro:before,
.operations-36ENbA>a,
.embedFooterText-28V_Wb,
.h5-18_1nd.title-3sZWYQ.header-2BTCnc:after,
.title-1ECcJP:before,
.activityProfile-2bJRaP .headerText-1HLrL7,
.connectedAccounts-repVzS:before,
.activityHeader-1PExlk,
.userInfoSectionHeader-CBvMDh,
.h2-2gWE-o,
.h3-3PDeKG,
.unreadPill-2HyYtt,
.content-1o0f9g,
.wrapper-CU3qI5,
.header-2RyJ0Y,
.ui-tab-bar-header,
.name-IbjUBS,
.typeWindows-1za-n7:after,
.wrapper-3WhCwL:not(.mention),
.membersGroup-v9BXpm,
.sidebar-2K8pFh .privateChannels-1nO12o header>span,
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218)"]:not(:hover),
.disableColor-MwOAZf,
.isUnread-3Ef-o9 .content-1o0f9g,
.member-3-YXUe.selected-aXhQR6 .activity-3mKQ-i,
.akaBadge-1M-1Gw,
.button-14-BFJ.enabled-2cQ-u7,
.size14-e6ZScH.title-eS5yk3,
.wordmark-2iDDfm,
.colorHeaderSecondary-3Sp3Ft.size12-3cLvbJ.optionHeader-1-5lcp,
.title-3w8xhj.fontDisplay-1dagSA.base-1x0h_U.size24-RIRrxO,
.colorStandard-2KCXvj.size16-1P40sf.text-1FOLJS,
.footerTitle-2CYZch.fontDisplay-1dagSA.base-1x0h_U.size20-17Iy80,
.winButtonMinMax-PBQ2gm, .winButtonClose-1HsbF-,
.colorStandard-2KCXvj.size14-e6ZScH,
.sampleLink-2NLvZg,
.channel-2QD9_O.selected-aXhQR6 .activity-3mKQ-i {
	animation: RGB_TEXT var(--time) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--time) linear infinite !important;
}
.newMessagesBar-265mhP.barBase-1c2Rfb,
.pill-31IEus .item-2hkk8m,
.item-2hkk8m,
.item-2hkk8m,
.selected-aXhQR6.container-2Pjhx-:after,
.wrapper-2jXpOf.modeSelected-346R90:after {
	animation: RGB_BG-SHADOW var(--time) linear infinite !important;
	-webkit-animation: RGB_BG-SHADOW var(--time) linear infinite !important;
}



/* Cycle Through RGB Colors (DONT TOUCH) */

@keyframes RGB_TEXT {
	0% {color: var(--C1);}

	15% {color: var(--C2);}

	31% {color: var(--C3);}

	46% {color: var(--C4);}

	61% {color: var(--C5);}

	76% {color: var(--C6);}

	92% {color: var(--C7);}

	to {color: var(--C1);}
}

@-webkit-keyframes RGB_TEXT {
	0% {color: var(--C1);}

	15% {color: var(--C2);}

	31% {color: var(--C3);}

	46% {color: var(--C4);}

	61% {color: var(--C5);}

	76% {color: var(--C6);}

	92% {color: var(--C7);}

	to {color: var(--C1);}
}
@keyframes RGB_BG {
	0% {background: var(--C1);}

	15% {background: var(--C2);}

	31% {background: var(--C3);}

	46% {background: var(--C4);}

	61% {background: var(--C5);}

	76% {background: var(--C6);}

	92% {background: var(--C7);}

	to {background: var(--C1);}
}

@-webkit-keyframes RGB_BG {
	0% {background: var(--C1);}

	15% {background: var(--C2);}

	31% {background: var(--C3);}

	46% {background: var(--C4);}

	61% {background: var(--C5);}

	76% {background: var(--C6);}

	92% {background: var(--C7);}
}

@keyframes RGB_BG-SHADOW {
	0% {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}

	15% {
		background: var(--C2);
		box-shadow: 0 0 5px var(--C2);
	}

	31% {
		background: var(--C3);
		box-shadow: 0 0 5px var(--C3);
	}

	46% {
		background: var(--C4);
		box-shadow: 0 0 5px var(--C4);
	}

	61% {
		background: var(--C5);
		box-shadow: 0 0 5px var(--C5);
	}

	76% {
		background: var(--C6);
		box-shadow: 0 0 5px var(--C6);
	}

	92% {
		background: var(--C7);
		box-shadow: 0 0 5px var(--C7);
	}

	to {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}
}

@-webkit-keyframes RGB_BG-SHADOW {
	0% {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}

	15% {
		background: var(--C2);
		box-shadow: 0 0 5px var(--C2);
	}

	31% {
		background: var(--C3);
		box-shadow: 0 0 5px var(--C3);
	}

	46% {
		background: var(--C4);
		box-shadow: 0 0 5px var(--C4);
	}

	61% {
		background: var(--C5);
		box-shadow: 0 0 5px var(--C5);
	}

	76% {
		background: var(--C6);
		box-shadow: 0 0 5px var(--C6);
	}

	92% {
		background: var(--C7);
		box-shadow: 0 0 5px var(--C7);
	}

	to {
		background: var(--C1);
		box-shadow: 0 0 5px var(--C1);
	}
}



:root {

        /* RGB */
  --time: 5s;
  --C1: rgb(255 0 0);
  --C2: rgb(255 125 0);
  --C3: rgb(255 255 0);
  --C4: rgb(0 255 0);
  --C5: rgb(0 240 255);
  --C6: rgb(0 0 255);
  --C7: rgb(255 0 255);

        /* AMOLED */
  --background-primary: #000000 !important;
  --background-secondary: #040404 !important;
  --background-secondary-alt: #010101 !important;
  --background-tertiary: #070707 !important;
  --background-accent: #040404 !important;
  --background-floating: #222222 !important;
  --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
  --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
  --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
  --channeltextarea-background: var(--background-accent) !important;
  --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
  --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
  --deprecated-text-input-bg: var(--background-tertiary) !important;
  --deprecated-text-input-border: var(--background-floating) !important;
  --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
  --activity-card-background: var(--background-primary) !important;
  --channels-default: #9f9f9f !important;
  --text-muted: #b6b6b6 !important;
  --text-normal: #fbfbfb !important;
  --interactive-normal: #c8c8c8 !important;
  --interactive-hover: #dcddde !important;
  --interactive-active: #fff !important;
  --interactive-muted: #747474 !important;
  --header-primary: white !important;
  --header-secondary: #c9c9c9 !important;
  --toast-background: var(--background-primary) !important;
  --toast-header: var(--background-tertiary) !important;
  --toast-contents: var(--background-secondary) !important;
  --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
  --toast-border: var(--background-tertiary) !important;
  --bd-blue: var(--background-primary) !important;
  --bd-blue-hover: var(--background-accent) !important;
  --bd-blue-active: var(--background-accent) !important;
}


/* Extra CSS Styling */

.button-14-BFJ.enabled-2cQ-u7 {
    width: 28px;
    height: 28px;
    margin-left: 6px;
    box-shadow: 0em 0 0.4em;
    background-color: rgb(255,0,0,0);
}
.strikethrough-1n4ekb,
.strikethrough-3Wiitd {
    color: rgb(255,0,255);
    stroke: rgb(255,0,255);
}
.childWrapper-anI2G9 {
    background-image: url(https://i.imgur.com/VUwFNqr.gif);
    background-size: cover;
}

.root-1gCeng.medium-2RE1hE.fullscreenOnMobile-1bD22y,.activeGame-14JI7o.notDetected-33MY4s,.closeIcon-150W3V,.modalRoot-1XowU7.root-1gCeng.fullscreenOnMobile-1bD22y,.modalSize-cqUaws.root-1gCeng.fullscreenOnMobile-1bD22y,.root-217Brm,.searchBox-3Y2Vi7.searchBox-2_mAlO,.scroller-1d5FgU.auto-Ge5KZx.scrollerBase-289Jih,.rowContainer-3AFY0S,.inputDefault-_djjkz.input-cIJ7To,.container-UC8Ug1,.chat-3bRxxu .scroller-2LSbBU::-webkit-scrollbar-track,.tabBody-3YRQ8W,.panels-j1Uci_{
    background-color: #060606
}
.guildInfo-1STtYi, {
   background-color: #000000;
}
.contents-18-Yxp.button-3AYNKb.button-318s1X {
    display: none;
}
.barButtonMain-3K-jeJ.barButtonBase-2uLO1z{
    text-shadow: 0.3px 0.3px 2.5px black;
}
.actionButton-3vN-m0.button-38aScr {
    text-shadow: 0px 0px 2px grey;
}

.wordmark-2iDDfm svg path:first-child {
    d: path("M 3.57642 0.141304 L 0 0.141304 L 0 4.22826 L 2.38069 6.40217 L 2.38069 2.43478 L 3.6626 2.43478 C 4.47053 2.43478 4.86911 2.83696 4.86911 3.46739 L 4.86911 6.5 C 4.86911 7.13043 4.49207 7.55435 3.6626 7.55435 L 0 7.55435 L 0 9.8587 L 3.57642 9.8587 C 5.4939 9.86957 7.29289 8.90217 7.29289 6.66304 L 7.29289 3.3913 C 7.29289 1.13043 5.4939 0.141304 3.57642 0.141304 Z M 22.3311 6.67391 L 22.3311 3.32609 C 22.3311 2.11957 24.464 1.83696 25.1104 3.05435 L 27.0817 2.23913 C 26.3169 0.51087 24.8949 0 23.7207 0 C 21.8033 0 19.9073 1.13043 19.9073 3.32609 L 19.9073 6.67391 C 19.9073 8.88043 21.8033 10 23.6776 10 C 24.8841 10 26.3276 9.3913 27.1248 7.81522 L 25.0134 6.82609 C 24.4963 8.17391 22.3311 7.84783 22.3311 6.67391 Z M 15.803 3.78261 C 15.0598 3.61957 14.5642 3.34783 14.5319 2.88043 C 14.575 1.75 16.2878 1.71739 17.2896 2.79348 L 18.8732 1.55435 C 17.8821 0.326087 16.7618 0 15.5984 0 C 13.8425 0 12.1404 1 12.1404 2.91304 C 12.1404 4.77174 13.5409 5.76087 15.0813 6 C 15.8677 6.1087 16.7402 6.42391 16.7187 6.97826 C 16.6541 8.02174 14.5427 7.96739 13.5839 6.78261 L 12.065 8.23913 C 12.9591 9.40217 14.1764 10 15.3183 10 C 17.0742 10 19.024 8.96739 19.0994 7.08696 C 19.2071 4.69565 17.5051 4.09783 15.803 3.78261 Z M 8.59634 9.8587 L 11.0093 9.8587 L 11.0093 0.141304 L 8.59634 0.141304 L 8.59634 9.8587 Z M 49.2835 0.141304 L 45.7071 0.141304 L 45.7071 4.22826 L 48.0878 6.40217 L 48.0878 2.43478 L 49.3589 2.43478 C 50.1669 2.43478 50.5654 2.83696 50.5654 3.46739 L 50.5654 6.5 C 50.5654 7.13043 50.1884 7.55435 49.3589 7.55435 L 45.6963 7.55435 L 45.6963 9.8587 L 49.2728 9.8587 C 51.1902 9.86957 52.9892 8.90217 52.9892 6.66304 L 52.9892 3.3913 C 53 1.13043 51.201 0.141304 49.2835 0.141304 Z M 31.7354 0 C 29.7533 0 27.7819 1.09783 27.7819 3.33696 L 27.7819 6.66304 C 27.7819 8.8913 29.764 10 31.7569 10 C 33.739 10 35.7104 8.8913 35.7104 6.66304 L 35.7104 3.33696 C 35.7104 1.1087 33.7175 0 31.7354 0 Z M 33.2866 6.66304 C 33.2866 7.3587 32.511 7.71739 31.7461 7.71739 C 30.9705 7.71739 30.1949 7.36957 30.1949 6.66304 L 30.1949 3.33696 C 30.1949 2.61957 30.949 2.23913 31.703 2.23913 C 32.4894 2.23913 33.2866 2.58696 33.2866 3.33696 L 33.2866 6.66304 Z M 44.3606 3.33696 C 44.3067 1.05435 42.777 0.141304 40.8057 0.141304 L 36.9815 0.141304 L 36.9815 9.86957 L 39.4268 9.86957 L 39.4268 6.77174 L 39.8577 6.77174 L 42.0768 9.8587 L 45.0931 9.8587 L 42.4862 6.52174 C 43.6496 6.15217 44.3606 5.1413 44.3606 3.33696 Z M 40.8488 4.65217 L 39.4268 4.65217 L 39.4268 2.43478 L 40.8488 2.43478 C 42.3785 2.43478 42.3785 4.65217 40.8488 4.65217 Z");
    position: relative;
    top: -12px;
    display: block !important;
}
.payment-xT17Mq.paymentRow-2e7VM6.bottomDivider-1K9Gao,.noWrap-3jynv6.summaryInfo-2QFKUg,.codeRedemptionRedirect-1wVR4b.card-3Qj_Yx,.verticalFit-waKLYN.paginator-166-09,.paymentPane-3bwJ6A.verticalFit-waKLYN,.addGamePopout-2RY8Ju.elevationBorderHigh-2WYJ09,.noiseCancellationPopout-iRK2A0,.section-5co3nR,.authBox-hW6HRx.theme-dark,.theme-dark.navRow-3bgpKd,.animatedNode-5VAmrN,.authBoxExpanded-2jqaBe.authBox-hW6HRx,.textarea-2r0oV8.inputDefault-_djjkz.input-cIJ7To.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9,.contextMenuNub-3yOOYo.colorable-1bkp8v.primaryDark-3mSFDl,.controlButton-2MhVEL.centerButton-3CaNcJ.colorable-1bkp8v.primaryDark-3mSFDl.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN,.staticButton-1B0rfQ.centerButton-3CaNcJ.colorable-1bkp8v.primaryDark-3mSFDl.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN,.input-2VB9rf,.noWrap-3jynv6.footer-2gL1pp,.footer-2gL1pp.footer-1NnaNd,.guilds-1SWlCJ div[class^=scroller-]>div[aria-label]::-webkit-scrollbar-thumb,.thin-1ybCId::-webkit-scrollbar-thumb,.tooltip-2QfLtc.tooltipRight-2JM5PQ,.bottomInformationTextContainer-2lvA_a,.stickerResults-3HacYG,.wrapper-1-Fsb8.categoryHeader-O1zU94,.scroller-3gAZLs.list-17lzo8.thin-1ybCId.scrollerBase-289Jih,.resultsGroup-r_nuzN,.content-1LAB8Z.content-mK72R6.thin-1ybCId.scrollerBase-289Jih,.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignStretch-DpGPf3.noWrap-3jynv6.content-dfabe7,.topSection-y3p-_D,.scroller-lynW5A.thin-1ybCId,.inner-3nWsbo,.friendsEmpty-1K9B4k,.root-1gCeng.small-3iVZYw,.content-1LAB8Z.listScroller-3GmIYj ,.tabContent-nZ-1U5.open-yICTYu,.scroller-2hZ97C.thin-1ybCId,.modal-2VIBV8.root-1gCeng,.profileBannerPreview-gaX5MP,.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih,.body-r6_QPy,.topSection-y3p-_D,.userPopout-xaxa6l,.bodyInnerWrapper-26fQXj,.footer-3UKYOU,.modalRoot-1Kx4Hb.root-1gCeng.small-3iVZYw,.scrollableContainer-2NUZem.webkit-HjD9Er, .inner-MADQqc.sansAttachButton-td2irx {
    background-color: rgb(13, 13, 13);
}

.wordmark-2iDDfm svg path {
    display: none;
}
.winButtonClose-1HsbF-:hover,.winButtonMinMax-PBQ2gm:hover {
    background-color: rgb(50, 13, 80, 0.8);
}
