.listItem-1hlISG.frame-oXWS21:hover,
.activity-3v9l4T,
.wrapper-3WhCwL,
.mentioned-xhSam7 .mention,
.bd-button,
.navButtonActive-1MkytQ,
.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN,
.mediaBarGrabber-1FqnbN,
.mediaBarProgress-1xaPtl,
.mediaBarProgress-1xaPtl:after,
.mediaBarProgress-1xaPtl:before,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.ThemeGen .RGBbutton:not(.Add):not(.Remove),
.ThemeGen .theme.content:after,
.ThemeGen input[type=checkbox]:checked,
.ThemeGen .divider,
.bd-switch.bd-switch-checked,
.container-3auIfb[style*="background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);"],
.container-3auIfb[style*="background-color: rgb(114, 137, 218);"],
.thin-1ybCId::-webkit-scrollbar-thumb,
.barFill-23-gu-,
.tile-2gi3tr .background-ujHpbY:hover,
.divider-3573oO,
.topSectionStreaming-1Tpf5X .buttonInvertedPurple-WtBglX,
[class^=expandedFolderBackground-],
.guilds-1SWlCJ div[class^=scroller-]>div[aria-label]::-webkit-scrollbar-thumb,
.bd-toasts .bd-toast::before,
.checked-3_4uQ9,
#bd-settings-sidebar .ui-tab-bar-item.selected:after,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:after,
.jumpToPresentBar-9P20AM,
.button-14-BFJ.enabled-2cQ-u7,
.newMessagesBar-mujexs,
.iconBackgroundTierNone-3MPhMJ,
.iconBackgroundTierOne-2LhaMB,
.iconBackgroundTierThree-3qw3JX,
.iconBackgroundTierTwo-3bCmdc,
.progressBar-3u8FBM[style*="background-color: rgb(114, 137, 218)"],
.cardPrimaryEditable-3KtE4g[style*="background-color: rgb(114, 137, 218)"],
.barInner-3NDaY_,
.markup-2BOw-j pre:after,
.defaultIndicator-3WqGFB,
.blockquoteDivider-2hH8H6,
.closeButton-1tv5uR,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.modeUnread-1qO3K1 .name-23GUGE:after,
.actionButton-VzECiy,
.verified-1eC5dy,
.partnered-3nJayh,
.actionButton-uPB8Fs,
.jumpToPresentBar-9P20AM,
.newMessagesBar-mujexs,
.circleIconButton-hZmpE8:hover,
.hasMore-3e72_v,
.option-96V44q.selected-rZcOL-,
.topPill-30KHOu>div:nth-child(5),
.lookFilled-1Gx00P.colorBrand-3pXr91,
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.themeDefault-24hCdX.valueChecked-m-4IJZ,
.mentioned-xhSam7:before,
.actionButton-2PeQbJ:hover,
.actionButton-2PeQbJ,
.footer-1fjuF6:after,
.reaction-1hd86g.reactionMe-wv5HKu,
.circleIconButton-hZmpE8.selected-3mFF3I,
.tooltipGreen-WdeQwd,
.tooltipBlack-PPG47z,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
	animation: RGB_BG var(--time) linear infinite !important;
	-webkit-animation: RGB_BG var(--time) linear infinite !important;
}

.aboutMeTitle-1IYtPE,
.activityUserPopout-2yItg2 .headerText-1HLrL7,
.ThemeGen #copyright strong,
.ThemeGen .title p,
.header-3ZP1MY,
.mainContent-2h-GEV .name-3l27Hl.container-2ax-kl,
.colorBrand-ROmMP1,
a.metadataName-14STf-,
.users-i_3-kL,
.embedTitle-3OXDkz,
.itemBase-1Qj4z6:hover.invite-271nFU,
.itemBase-1Qj4z6.invite-271nFU,
.card-3Qj_Yx a,
.filenameLinkWrapper-1-14c5,
.guildName-3WI6ml,
.fakeLink-26oLcc,
.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active,
.top-28JiJ- .themed-OHr7kt.item-PXvHYJ:hover,
.activity-11LB_k>.headerText-1HLrL7,
.bodyTitle-Y0qMQz,
.bodyTitle-1ySSKn,
.tabBarItem-1b8RUP[style*="color: rgb(255, 255, 255)"],
.topic-TCb_qw a,
.addButton-1BORro:before,
.operations-36ENbA>a,
.embedFooterText-28V_Wb,
.h5-18_1nd.title-3sZWYQ.header-2BTCnc:after,
.title-1ECcJP:before,
.activityProfile-2bJRaP .headerText-1HLrL7,
.connectedAccounts-repVzS:before,
.activityHeader-1PExlk,
.userInfoSectionHeader-CBvMDh,
.h2-2gWE-o,
.h3-3PDeKG,
.unreadPill-2HyYtt,
.content-1o0f9g,
.wrapper-CU3qI5,
.header-2RyJ0Y,
.ui-tab-bar-header,
.name-IbjUBS,
.typeWindows-1za-n7:after,
.wrapper-3WhCwL:not(.mention),
.membersGroup-v9BXpm,
.sidebar-2K8pFh .privateChannels-1nO12o header>span,
.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218)"]:not(:hover),
.disableColor-MwOAZf,
.isUnread-3Ef-o9 .content-1o0f9g,
.member-3-YXUe.selected-aXhQR6 .activity-3mKQ-i,
.akaBadge-1M-1Gw,
.channel-2QD9_O.selected-aXhQR6 .activity-3mKQ-i {
	animation: RGB_TEXT var(--time) linear infinite !important;
	-webkit-animation: RGB_TEXT var(--time) linear infinite !important;
}

.pill-31IEus .item-2hkk8m,
.item-2hkk8m,
.item-2hkk8m,
.selected-aXhQR6.container-2Pjhx-:after,
.wrapper-2jXpOf.modeSelected-346R90:after {
	animation: RGB_BG-SHADOW var(--time) linear infinite !important;
	-webkit-animation: RGB_BG-SHADOW var(--time) linear infinite !important;
}